<div class="hero-unit">
  <h1>What should Nat do next?</h1>
  <p>Everyone's favorite gameshow!</p>

  <p>
  <% form_tag '/', :method => 'post', :class => 'form-search' do %>
    <%= flash_tag(:notice) %>
    <%= text_field_tag 'text', :class => 'input-medium search-query' %>
    <%= submit_tag "Merge!", :class => 'btn' %>
  <% end %>
  </p>
</div>
