<div class="hero-unit">
  <h1>What should Nat do next?</h1>
  <p>Everyone's favorite gameshow!</p>

  <% form_tag '/', :method => 'post', :class => 'form-search' do %>
    <%= flash_tag(:notice) %>
    <div class="input-append">
      <%= text_field_tag 'text', :id => 'search', :class => 'input-block-level search-query' %>
      <%= submit_tag "Suggest", :class => 'btn' %>
    </div>
  <% end %>
</div>
